<a href="https://colab.research.google.com/github/MarinaIvanova027/Python.Homework2/blob/main/Seminar_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Семинар 9

## Задача №57.
1. Прочесть с помощью pandas файл
california_housing_test.csv, который находится в папке
sample_data
2. Посмотреть сколько в нем строк и столбцов
3. Определить какой тип данных имеют столбцы

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/sample_data/california_housing_test.csv')

In [ ]:
df.shape

(3000, 9)

In [ ]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

## Задача №59.
1. Проверить есть ли в файле пустые значения
2. Показать median_house_value где median_income < 2
3. Показать данные в первых 2 столбцах
4. Выбрать данные где housing_median_age < 20 и
median_house_value > 70000

In [ ]:
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [ ]:
df[df['median_income'] < 2]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
5,-119.56,36.51,37.0,1018.0,213.0,663.0,204.0,1.6635,67000.0
6,-121.43,38.63,43.0,1009.0,225.0,604.0,218.0,1.6641,67000.0
16,-120.81,37.53,15.0,570.0,123.0,189.0,107.0,1.8750,181300.0
28,-118.45,34.07,19.0,4845.0,1609.0,3751.0,1539.0,1.5830,350000.0
43,-117.27,34.09,36.0,848.0,186.0,737.0,169.0,0.9838,79300.0
...,...,...,...,...,...,...,...,...,...
2943,-121.23,37.96,37.0,2351.0,564.0,1591.0,549.0,1.6563,57200.0
2964,-118.25,33.94,43.0,1113.0,378.0,1305.0,334.0,1.1434,91300.0
2985,-120.47,34.94,17.0,1368.0,308.0,642.0,303.0,1.8633,109400.0
2986,-118.25,33.93,42.0,819.0,233.0,899.0,228.0,1.1346,85400.0
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0

In [ ]:
df[df['median_income'] < 2][['median_house_value']]

      median_house_value
5                67000.0
6                67000.0
16              181300.0
28              350000.0
43               79300.0
...                  ...
2943             57200.0
2964             91300.0
2985            109400.0
2986             85400.0
2995            225000.0

[360 rows x 1 columns]

In [ ]:
df.iloc[:, :2]

      longitude  latitude
0       -122.05     37.37
1       -118.30     34.26
2       -117.81     33.78
3       -118.36     33.82
4       -119.67     36.33
...         ...       ...
2995    -119.86     34.42
2996    -118.14     34.06
2997    -119.70     36.30
2998    -117.12     34.10
2999    -119.63     34.42

[3000 rows x 2 columns]

In [ ]:
df.loc[:, :'latitude']

      longitude  latitude
0       -122.05     37.37
1       -118.30     34.26
2       -117.81     33.78
3       -118.36     33.82
4       -119.67     36.33
...         ...       ...
2995    -119.86     34.42
2996    -118.14     34.06
2997    -119.70     36.30
2998    -117.12     34.10
2999    -119.63     34.42

[3000 rows x 2 columns]

In [ ]:
df[
    (df['housing_median_age'] < 20) &
    (df['median_house_value'] > 70000)
]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
7,-120.65,35.48,19.0,2310.0,471.0,1341.0,441.0,3.2250,166900.0
8,-122.84,38.40,15.0,3080.0,617.0,1446.0,599.0,3.6696,194400.0
13,-117.03,32.97,16.0,3936.0,694.0,1935.0,659.0,4.5625,231200.0
16,-120.81,37.53,15.0,570.0,123.0,189.0,107.0,1.8750,181300.0
...,...,...,...,...,...,...,...,...,...
2978,-121.34,38.64,17.0,2761.0,501.0,1128.0,482.0,3.7562,139700.0
2981,-120.66,35.49,17.0,4422.0,945.0,2307.0,885.0,2.8285,171300.0
2984,-117.59,33.88,13.0,3239.0,849.0,2751.0,813.0,2.6111,107000.0
2985,-120.47,34.94,17.0,1368.0,308.0,642.0,303.0,1.8633,109400.0
2991,-117.17,34.28,13.0,4867.0,718.0,780.0,250.0,7.1997,253800.0

## Задача №61.
1. Определить какое максимальное и минимальное
значение median_house_value
2. Показать максимальное median_house_value, где
median_income = 3.1250
3. Узнать какая максимальная population в зоне
минимального значения median_house_value

In [ ]:
df['median_house_value'].min()

22500.0

In [ ]:
df['median_house_value'].max()

500001.0

In [ ]:
df[df['median_income'] == 3.1250]['median_house_value'].max()

233300.0

In [ ]:
df[df['median_house_value'] == df['median_house_value'].min()].population.max()

1230.0

# Домашнее задание

## Задача 40:
1. Работать с файлом california_housing_train.csv, который находится в папке
sample_data.
2. Определить среднюю стоимость дома, где кол-во людей от 0 до 500 (population).

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/sample_data/california_housing_train.csv')

In [54]:
# я точно не поняла как программа расчитает. <500 эо будет включительно или нет??
# на семинаре такое не обсуждалось и просто писали числа из задачи...

df[df['population'] < 500]['median_house_value'].mean()

206683.83635227982

In [53]:
# но если вдруг 500 не включительно, то вот так:

df[df['population'] < 501]['median_house_value'].mean()

206799.95140186916

## Задача 42.
Узнать какая максимальная households в зоне минимального значения population.

In [55]:
df[df['population'] == df['population'].min()].households.max()

4.0